<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="privacyshield">

	<test name="Testing Parameterization">
	
	<parameter name="browser" value="chrome"/>

		<classes>
			<class name="com.privacyshield.testcases.TC_Psform_01" />
		</classes>
	</test>
</suite>